
.container {
    position: relative;
    width: 900px;
    height: 200px;

}

.nice-input {
    width: 300px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.nice-input:focus {
    border-color: #66afe9;
    outline: none;
}
.AjouterBtn  {
    background-color: #1b545a;
}

.SupprimerBtn {
    background-color: #1b545a;
    padding-left: 70px ;
    margin-top: 20px;

}

.data {
    height: 200px;
    width: 500px;

}