@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
}

#root {
  height: 644px;
  width: 1300px;
  background-color: #F2F2F2;
}

.navbar {
  position: relative;
  z-index: 10;
  width: 250px;
  height: 737px;
  /* background-color:  /*#1b545a;*/ 
  background-image: linear-gradient(to right, #ff7e5f, #feb47b);
}

.nom {
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
}

.header {
  width: 1280px;
  height:80px;
}

button {
  margin-bottom: 15px;
}