@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
}

#root {
  height: 644px;
  width: 1300px;
  background-color: #F2F2F2;
}

.navbar {
  position: relative;
  z-index: 10;
  width: 250px;
  height: 737px;
  background-color: #1b545a;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.nom {
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
}

.header {
  width: 1280px;
  height:80px;
}

button {
  margin-bottom: 15px;
}